.tag_form {
    text-align: center;
}
.css-8je8zh-MuiTouchRipple-root {
    padding-top: 20px;
}

.css-ke5b6m-MuiButtonBase-root-MuiButton-root{
    padding: 20px;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    text-align: center;
}
.css-1k9ek97 {
display: flex;
    margin-left: auto;
    padding: 20px;
}
.new_tag {
    padding-top: 30px;
}

.tagContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}